#menu-bar{
    display: none;
}
header label {
    float: right;
    font-size: 25px;
    margin: 3px 0;
    cursor: pointer;
}
.menu{
    position: absolute;
    top: 70px;
    left: 20;
    background-color: aqua;
    transition: all .5s;
    transform: translateX(-120%);
}
.menu a{
    display: block;
    color: azure;
    height: 50px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid black;
}
.menu a:hover{
    background-color: blue;
}
#menu-bar:checked ~.menu{
    transform: translateX(0%)

}